.Form-header-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 26px;
  font-family: 'Gilroy';
  letter-spacing: 0.05em;
  font-weight: 700;
  margin: 0 0 40px 0;

  //   .Login {
  //     color: #4d8de1;
  //     &::after {
  //       content: '|';
  //       margin-left: 15px;
  //     }
  //   }
  & .Form-header {
    color: #555a61;
    opacity: 0.8;
  }
}
