@import url(//db.onlinewebfonts.com/c/d1243736bfe07b546f8f1e54e7804afb?family=Galien);
@import url(//db.onlinewebfonts.com/c/b4e5daf5e56a2f78c4ee9ab45d660b93?family=);

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.Header {
  background: linear-gradient(
    0deg,
    #98c3e8 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  height: 100%;
  overflow: hidden;
  padding-bottom: 180px;
}

@media (max-width: 1150px) {
  .Header {
    padding-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .Header {
    overflow: visible;
  }
}

.Posts {
  padding: 100px 0;
}

.Form {
  padding: 100px 0;
}
