@media (max-width: 768px) {
  .Header-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 20px;
    cursor: pointer;
    & span {
      height: 2px;
      background-color: #356ead;
      &:nth-child(2) {
        width: 20px;
        align-self: flex-end;
      }
    }
  }
}
