.Header {
    position: relative;
}
.Page-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    position: fixed;
    z-index: 1000;
    padding: 0 30px;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

@media (max-width: 768px) {
    .Header {
        overflow: visible;
    }
    .Page-header {
        margin: 0 0 16px 0;
    }
}
@media (max-width: 400px) {
    .Page-header {
        height: 100px;
    }
}
