.Page-header {
  height: 133px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 56px 0;
}

@media (max-width: 768px) {
  .Page-header {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 400px) {
  .Page-header {
    height: 100px;
  }
}
