.Header-nav {
  flex: 1 0 80%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;

  a {
    font-size: 20px;
    color: #3e6ead;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: #5e9ef1;
      border-radius: 10px;
      transition: all 0.3s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .Header-nav {
    display: none;
  }
}
