.Header-nav {
  flex: 1 0 80%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;

  a {
    font-size: 20px;
    color: #1f3f68;
  }
}

@media (max-width: 768px) {
  .Header-nav {
    display: none;
  }
}
