.Card-wrap {
  padding: 30px;
  //   border-radius: 20px;
  //   background-color: #f0f0f0;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .Image {
    width: auto;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  & .Title {
    font-weight: bolder;
    font-size: 20px;
    line-height: 150%;

    letter-spacing: 0.05em;
    color: #1f3f68;
  }

  & .Text {
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
  }

  & .Date {
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.05em;
    color: #5a98d0;
  }
}
